

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 6% auto 0;
    
   

}
.single-card{
   
    position: relative;
    width: 380px;
    height: 600px;
    margin: 25px;
    box-shadow: 0 2px 20px rgba(152, 141, 141, 0.5);
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    background: black;
    border-radius: 15px;
    transition: all 0.8s ease-in-out;
}

.single-card:hover{
    transform: translateY()-10px;
}

.img-area{
    position: relative;
    width: 100%;
    height: 60%;
    /* overflow: hidden; */
}
.img-area img{
    /* width: 100%;
    height: 100%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0,3s easw;
}

.img-area:hover img{
    transform:scale(1.1)
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(101, 125, 136, 0.8);
    opacity: 0;
    transition: opacity 0.3s ease;

}

.single-card:hover .overlay{
    opacity: 1;
}
.filterprice{
    margin-top: 28px;
}

.add-to-cart,
 .view-details{
background: white;
color: black;
padding: 10px 15px;
border-radius:4px ;
font-size: 12px;
font-weight: bold;
text-transform: uppercase;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
margin-bottom: 10px;

}


.add-to-cart:hover, .view-details:hover{
    background-color: rgba(237, 6, 76, 0.58);
    color: white;
    border: none;

}
.info{
    padding: 10px;
    text-align: center;
    color: white;
}

.info  h3{
    margin: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family:bebas neue ;

}

.info .price{
    margin: 0;
    font-style: 30px;
    color: rgb(224 0 67 / 58%);

}